body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-barlow: Barlow;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
}
